<%= simple_form_for(@starter_kit, url: starter_kit_path(@starter_kit)) do |form| %>
  <table>
    <tr>
      <th>
        Id
      </th>
      <td>
        <%= @starter_kit.apiotics_instance %>
      </td>
    </tr>
    <tr>
      <th>
        Name
      </th>
      <td>
          <%= @starter_kit.name %>
      </td>
    </tr>
    
      <tr>
        <th>
          Buzzer
        </th>
        <%= form.simple_fields_for :buzzer do |fields| %>
					 <td>
          	
							
							
								<%= fields.input :buzzer %>
							
          	
							
							
	              	<%= fields.input :port_number, collection: ["J5", "J6", "J7", "J8", "J9", "J10", "J11"] %>
							
          	
					</td>
        <% end %>
      </tr>
    
      <tr>
        <th>
          FourDigitDisplay
        </th>
        <%= form.simple_fields_for :four_digit_display do |fields| %>
					 <td>
          	
							
							
								<%= fields.input :clock %>
							
          	
							
							
								<%= fields.input :display %>
							
          	
							
							
	              	<%= fields.input :port_number, collection: ["J5", "J6", "J7", "J8", "J9", "J10"] %>
							
          	
					</td>
        <% end %>
      </tr>
    
      <tr>
        <th>
          Potentiometer
        </th>
        <%= form.simple_fields_for :potentiometer do |fields| %>
					 <td>
          	
							
							
								<%= fields.input :position %>
							
          	
							
							
	              	<%= fields.input :port_number, collection:  ["J5", "J6", "J7", "J8", "J9", "J10", "J11"] %>
							
          	
					</td>
        <% end %>
      </tr>
    
      <tr>
        <th>
          UltrasonicRangeSensor
        </th>
        <%= form.simple_fields_for :ultrasonic_range_sensor do |fields| %>
					 <td>
          	
							
							
								<%= fields.input :range %>
							
          	
							
							
	              	<%= fields.input :port_number, collection:  ["J5", "J6", "J7", "J8", "J9", "J10", "J11"] %>
							
          	
					</td>
        <% end %>
      </tr>
    
      <tr>
        <th>
          LightSensor
        </th>
        <%= form.simple_fields_for :light_sensor do |fields| %>
					 <td>
          	
							
							
								<%= fields.input :intensity %>
							
          	
							
							
	              	<%= fields.input :port_number, collection: ["J5", "J6", "J7", "J8", "J9", "J10", "J11"] %>
							
          	
					</td>
        <% end %>
      </tr>
    
      <tr>
        <th>
          &nbsp;
        </th>
        <td>
          <div class="actions">
            <%= form.submit %>
          </div>
        </td>
      </tr>
  </table>
<% end %>
