<p id="notice"><%= notice %></p>
<h1>
  StarterKit
</h1>
<table>
  <thead>
    <tr>
      <th style="border: 1px solid black;">
        Id
      </th>
      <th style="border: 1px solid black;">
        Name
      </th>
      
        <th colspan='2' style="border: 1px solid black;">
          Buzzer
        </th>
      
        <th colspan='3' style="border: 1px solid black;">
          FourDigitDisplay
        </th>
      
        <th colspan='2' style="border: 1px solid black;">
          Potentiometer
        </th>
      
        <th colspan='2' style="border: 1px solid black;">
          UltrasonicRangeSensor
        </th>
      
        <th colspan='2' style="border: 1px solid black;">
          LightSensor
        </th>
      
    </tr>
    <tr>
      <th>
        &nbsp;
      </th>
      <th>
        &nbsp;
      </th>
      
        
          <th>
            buzzer
          </th>
        
          <th>
            port_number
          </th>
        
      
        
          <th>
            clock
          </th>
        
          <th>
            display
          </th>
        
          <th>
            port_number
          </th>
        
      
        
          <th>
            position
          </th>
        
          <th>
            port_number
          </th>
        
      
        
          <th>
            range
          </th>
        
          <th>
            port_number
          </th>
        
      
        
          <th>
            intensity
          </th>
        
          <th>
            port_number
          </th>
        
      
    </tr>
  </thead>
  <tbody>
    <tr id='<%= @starter_kit.apiotics_instance %>'>
      <td>
        <%= @starter_kit.apiotics_instance %>
      </td>
      <td>
        <%= @starter_kit.name %>
      </td>
      
        
          <td class='starter_kit-buzzer-buzzer'>
            <%= @starter_kit.buzzer.buzzer %>
          </td>
        
          <td class='starter_kit-buzzer-port_number'>
            <%= @starter_kit.buzzer.port_number %>
          </td>
        
      
        
          <td class='starter_kit-four_digit_display-clock'>
            <%= @starter_kit.four_digit_display.clock %>
          </td>
        
          <td class='starter_kit-four_digit_display-display'>
            <%= @starter_kit.four_digit_display.display %>
          </td>
        
          <td class='starter_kit-four_digit_display-port_number'>
            <%= @starter_kit.four_digit_display.port_number %>
          </td>
        
      
        
          <td class='starter_kit-potentiometer-position'>
            <%= @starter_kit.potentiometer.position %>
          </td>
        
          <td class='starter_kit-potentiometer-port_number'>
            <%= @starter_kit.potentiometer.port_number %>
          </td>
        
      
        
          <td class='starter_kit-ultrasonic_range_sensor-range'>
            <%= @starter_kit.ultrasonic_range_sensor.range %>
          </td>
        
          <td class='starter_kit-ultrasonic_range_sensor-port_number'>
            <%= @starter_kit.ultrasonic_range_sensor.port_number %>
          </td>
        
      
        
          <td class='starter_kit-light_sensor-intensity'>
            <%= @starter_kit.light_sensor.intensity %>
          </td>
        
          <td class='starter_kit-light_sensor-port_number'>
            <%= @starter_kit.light_sensor.port_number %>
          </td>
        
      
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_starter_kit_path(@starter_kit) %> |
<%= link_to 'Back', starter_kits_path %>